/* Основные цвета */
/* Цвет основного текста - #212121 */
/* Вторичный цыет текста - #757575 */
/* Цвет фона 1 - #2F303A */
/* Цвет фона 3 - #F5F4FA */
/* Белый (основной) - #FFFFFF */
/* Черный - #000000 */
/* Акцент - #2196F3 */

:root {
--title-text-color:#212121;
--primary-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #ffffff;
--primary-background-color: #2F303A;
--additional-background-color: #F5F4FA;
--primary-black-color: #000000;
}


body {
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
      
}

.link {
  text-decoration: none;
}

.list { 
  list-style: none;
}


/* Navigation */

.site-nav.list,
.site-nav.list:focus {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.info-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
}

/* :Logo */

.logo,
.logo:focus {
 font-family: Raleway,sans-serif;
 font-size: 26px;
 line-height: 1.19px;
 font-weight: 700;
 letter-spacing: 0.03em;
 text-decoration: none;
 color: var(--accent-color);
}

.web-color {
  color: var(--accent-color);
}

.studio-color {
  color: var(--primary-black-color);
}

.logo:hover {
  color: var(--accent-color);
}

 /* Features */

.features {
   background-color: var(--primary-background-color);
 }

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

   color: var(--primary-white-color)
 }

.work-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

 .features-text {
   color: var(--primary-text-color);
   font-weight: 400;
   font-size: 14px;
   line-height: 1,71px;
   letter-spacing: 0.03em;
 }



 /* Team */

.section-team {
   background-color: var(--additional-background-color);
 }

.team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
 }

 .team-position {
   color: var(--secondary-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
 }

 .team-names {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
 }

/* Button */

.button {
  cursor: pointer;
}


  /* Footer */

.footer-list {
    background-color: var(--primary-background-color);
  }

.adress {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71px;
    font-weight: 400;
    letter-spacing: 0.03em;
    padding: 10px;
    }
  
.info {
    color: var(--primary-white-color);
    text-decoration: none;
    }

  .info:hover,
  .info:focus {
      color: var(--accent-color);
        }